<div id="DatasourcePanel" style="display:none;">
{% if user %}
  <div class="row">
    <div class="card col s6 offset-s3">
      <div class="card-content">
        <form class="well bs-component container section no-pad-bot">
          <div class="col s12">
            <div class="row" ng-show="availableDataSources">
              <div class="col s6">
                <select id="drpdEditDS" class="form-control" name="dataSource" ng-model="dataSourceFormData._id" required>
                  <option ng:repeat="(key, value) in availableDataSources" value="{[{value._id}]}" ng-bind=value.name></option>
                </select>
              </div>
              <div class="col s1">
                <h5> Or </h5>
              </div>
              <div class="col s3">
                <button class="btn btn-info btn-primary" id="btnDSCreate" ng-click="dataSourceFormData = {};">Create</button>
              </div>
            </div>
          </div>
        </form>

        <div id="ds" class="well bs-component container">
          <form class="data-source-create form-horizontal" name="dataSourceForm" ng-submit="updateOrCreateDataSource()" novalidate required>
            <fieldset style="border:0px;">
              <div class="form-group">
                <label class="col-lg-1 control-label">Name</label>
                <div class="col-lg-11">
                  <input id="name" type="text" class="validate" name="Name" ng-model="dataSourceFormData.name" required />
                </div>
                <label class="col-lg-1 control-label">Type</label>
                <div class="col-lg-11">
                  <select class="form-control" name="type" ng-model="dataSourceFormData.type" required>
                    <option ng:repeat="(key, value) in dataSourceTypes" value="{[{key}]}">{[{value}]}</option>
                  </select>
                </div>

                {% include 'datasource/MySQLPost.html' %}
                {% include 'datasource/MongoDbPost.html' %}
                {% include 'datasource/RabbitMQPost.html' %}

              </div>
            </fieldset>
            <button class="btn btn-info btn-primary" ng-disabled="dataSourceForm.$invalid">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
