<div ng-show="dataSourceFormData.type == 'mysql'">
  <label class="col-lg-1 control-label">Host</label>
  <div class="col-lg-11">
    <input type="text" id="inputHost" class="form-control" placeholder="Host" name="host" ng-model="dataSourceFormData.mysql.host" />
  </div>
  <label for="inputDatbase" class="col-lg-1 control-label">Database</label>
  <div class="col-lg-11">
    <input type="text" id="inputDatbase" class="form-control" placeholder="Database" name="database" ng-model="dataSourceFormData.mysql.database" />
  </div>
  <label for="inputPort" class="col-lg-1 control-label">Port</label>
  <div class="col-lg-11">
    <input type="text" id="inputPort" class="form-control" placeholder="Port" name="port" ng-model="dataSourceFormData.mysql.port" />
  </div>
  <label for="inputUsername" class="col-lg-1 control-label">Username</label>
  <div class="col-lg-11">
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" ng-model="dataSourceFormData.mysql.username" />
  </div>
  <label for="inputPassowrd" class="col-lg-1 control-label">Password</label>
  <div class="col-lg-11">
    <input type="text" id="inputPassowrd" class="form-control" placeholder="Password" name="password" ng-model="dataSourceFormData.mysql.password" />
  </div>
</div>
