<div ng-show="dataSourceFormData.type == 'rabbitmq'">
  <label class="col-lg-1 control-label">Connection String</label>
  <div class="col-lg-11">
    <input type="text" id="inputUri" class="form-control" name="connectionString" ng-model="dataSourceFormData.rabbitmq.connectionString"
      placeholder="amqp://username:password@host:port/vhost"
    />
  </div>
</div>
