<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h3 class="header center orange-text">Your Database, Visualized.</h3>

    <div class="row">
      <div class="col s8 m6 offset-m3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper" style="margin-bottom:0px;">
            <div class="col s12">
              <span class="black-text">
                <ul>
                  <li>Transform SQL into charts, seamlessly!</li>
                  <li>Add your database, chose the type of chart you want.</li>
                  <li>And you are done!</li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s8 m6 offset-m3" style="color:blue;">
        <div class="card-panel grey lighten-5">
          <div class="row valign-wrapper" style="margin-bottom:0px;">
            <canvas id="myChart" style="width:100%; height:100%;"></canvas>
          </div>
        </div>
      </div>
    </div>

    <br><br>

  </div>
</div>
