<section id="emptyDash" class="hidden">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h3 class="header center orange-text">Welcome!</h3>

            <div class="row">
                <div class="col s8 m6 offset-m3">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper" style="margin-bottom:0px;">
                            <div class="col s12">
                                <span class="black-text">
                Your datasources seem a bit empty. Click
                <a class="pointer" onclick="window.location.href = window.location.origin + '/#datasource';location.reload();"> here </a>
                 to enter your first data connection.
              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>

        </div>
    </div>
</section>
