<div class="navbar-fixed">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-Action-wrapper full-width-nav container no-margin">
      <a id="logo-container" class="pointer" href="/" class="brand-logo" style="margin-left:10px;">
        <img class="navbarLogo" src="/images/datacircleNav.png" alt="DataCircle Logo">
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          {% if user %}
          <li> <a id="nav-Action-Dashboard" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">add</i></a></li>
          <li>
            <a href="#" class="dropdown-button " data-activates='dashboardList'> {[{getSelectedDashboard().name}]} </a>
                    <!-- Dropdown Structure -->
            <ul id='dashboardList' class='dropdown-content' style="margin-top: 65px;" >
              <li ng:repeat="(key, value) in availableDashboards">
                 <a href="#" class="pointer" ng-click="selecteDashboard(value)" id="">{[{ value.name }]} </a>
              </li>
            </ul>
          </li>


          {% endif %}

          <li style="display:none;">
            <a class="pointer" id="nav-Action-Heartbeat">
              status: <span ng-bind="acknowledgement.message"> loading... </span>
            </a>
          </li>
          {% if user %}
            <li>
              <a class="pointer" id="nav-Action-Articles">
                <span class="tooltipped hidden" data-position="bottom" data-delay="50" data-tooltip= {{ user.role.access | dump }}>
                  <b>role: </b>
                  {{ user._id }}
                </span>
              </a>
            </li>
          {% endif %}
        </li>

        {% if not user %}
          <li> <a class="pointer" id="nav-Action-Register">Register</a> </li>
          <li> <a class="pointer" id="nav-Action-Login">Login</a> </li>
        {% else %}
            <li>
              <a class="pointer" id="nav-Action-Store">
                Store
              </a>
            </li>
            {% if user and ((user.role.access.widgetRead and user.role.access.widgetWrite) or user.role.access.admin) %}
              <li>
                <a class="pointer" id="nav-Action-Widget">
                  Widgets
                  <span class="counter badge" ng-bind=availableWidgets.length></span>
                </a>
              </li>
            {% endif %}

            {% if user and ((user.role.access.datasourceRead and user.role.access.datasourceWrite) or user.role.access.admin) %}
              <li>
                <a class="pointer" id="nav-Action-Datasource">
                  Data Source
                  <span class="counter badge" ng-bind=availableDataSources.length></span>
                </a>
              </li>
            {% endif %}
            <li>
              <a href="#" class="dropdown-button " data-activates='dropdown1'>
                <div class="chip">
                  <img src="images/user1.png" alt="User">
                    {{ user.fn }}
                </div>
              </a>
                      <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content' style="margin-top: 65px;">
                <li> <a href="#" class="pointer" style="display:none;" id="nav-Action-Team">Teams</a> </li>
                <li> <a href="#" class="pointer" style="display:none;" id="nav-Action-Dashboard">Dashboards</a> </li>
                {% if user and user.role.access.admin %}
                  <li> <a href="" class="pointer" id="nav-Action-Settings">Settings</a> </li>
                {% endif %}
                <li class="divider"></li>
                <li> <a href="/logout" class="pointer" id="nav-Action-Logout">Logout</a> </li>
              </ul>
            </li>
          {% endif %}
      </ul>

      <ul id="nav-Action-Mobile" class="side-nav">
        {% if not user %}
          <li> <a class="pointer" id="nav-Action-Mobile-Register">Register</a> </li>
          <li> <a class="pointer" id="nav-Action-Mobile-Login">Login</a> </li>
        {% else %}
        <li>
          <a class="pointer" id="nav-Action-Mobile-Store">
            Store
          </a>
        </li>
        {% if user and ((user.role.access.widgetRead and user.role.access.widgetWrite) or user.role.access.admin) %}
          <li>
            <a class="pointer" id="nav-Action-Mobile-Widget">
              Widget
              <span class="counter badge" ng-bind=availableWidgets.length></span>
            </a>
          </li>
        {% endif %}

        {% if user and ((user.role.access.datasourceRead and user.role.access.datasourceWrite) or user.role.access.admin) %}
          <li>
            <a class="pointer" id="nav-Action-Datasource">
              Data Source
              <span class="counter badge" ng-bind=availableDataSources.length></span>
            </a>
          </li>
        {% endif %}

        <li> <a class="pointer" style="display:none;" id="nav-Action-Mobile-Team">Teams</a> </li>
        <li> <a class="pointer" style="display:none;" id="nav-Action-Mobile-Dashboard">Dashboards</a> </li>
        <li class="divider"></li>
          {% if user and user.role.access.admin %}
            <li> <a href="" id="nav-Action-Mobile-Settings">Settings</a> </li>
            <li> <a href="/logout" id="nav-Action-Logout">Logout</a> </li>
          {% endif %}
        {% endif %}
      </ul>
      <a href="#" data-activates="nav-Action-Mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
