<div id="DashboardPanel" style="display:none;">
{% if user %}
  <div class="row">
    <div class="card col s6 offset-s3">
      <div class="card-content">
        <form class="well bs-component container section no-pad-bot">
          <div class="col s12">
            <div class="row" ng-show="availableDashboards">
              <div class="col s6">
                <select id="drpdEditWidget" class="form-control" name="widget" ng-model="dashboardFormData._id" required>
                  <option ng:repeat="(key, value) in availableDashboards" value="{[{value._id}]}">{[{value.name}]}</option>
                </select>
              </div>
              <div class="col s1">
                <h5> Or </h5>
              </div>
              <div class="col s3">
                <button class="btn btn-info btn-primary" id="btnDSCreate" ng-click="dashboardFormData = undefined;">Create</button>
              </div>
            </div>
          </div>
        </form>

        <div id="widget" class="well bs-component container">
          <form class="widget-create form-horizontal" name="dashboardForm" ng-submit="updateOrCreateDashboard()" novalidate required>
            <fieldset style="border:0px;">
              <div class="form-group">
                <label class="col-lg-1 control-label">Name</label>
                <div class="col-lg-11">
                  <input type="text" class="form-control" name="name" ng-model="dashboardFormData.name" required/>
                </div>

                <label class="col-lg-1 control-label">Description</label>
                <div class="col-lg-11">
                  <input type="text" class="form-control" name="description" ng-model="dashboardFormData.description" required/>
                </div>

                <button class="btn btn-info btn-primary" ng-disabled="dashboardForm.$invalid">Save</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
