<div class="col m3" draggable="true" ng-init="requestData(key)">
  <div id="card-{[{value._id}]}" class="card" style="">
    <div class="card-action no-padding orange">
      <div class="row" style="margin:0px; padding-top:4px; padding-bottom: 4px; padding-right: 4px;">
        <div class="col s8" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
            {[{selectedDashboard.widgets[key].name}]}
        </div>
        <div class="col s1 right">
          <a class="activator grey-text text-darken-4 pointer"
             data-position="bottom" data-delay="50" data-tooltip="More">
            <i class="material-icons tiny">more_vert</i>
          </a>
        </div>
        <div class="col s1 right">
          <a id="printChartBtn-{[{value._id}]}" target="_blank" class="pointer" href="" download="DataCircle-{[{value.name}]}.jpg" data-canvas="myChart-{[{value._id}]}"
            data-position="bottom" data-delay="25" data-tooltip="Print">
            <i class="material-icons tiny">print</i>
          </a>
        </div>
        <div class="col s1 right">
          <a class="pointer" data-position="bottom" data-delay="25" data-tooltip="Refresh" ng-click="refreshWidget(selectedDashboard.widgets[key]._id)">
            <i class="material-icons tiny">replay</i>
          </a>
        </div>
        <div class="col s1 right">
          <a class="pointer" data-position="bottom" data-delay="25" data-tooltip="Remove" ng-click="removeWidget(selectedDashboard.widgets[key]._id)">
            <i class="material-icons tiny">not_interested</i>
          </a>
        </div>
      </div>
    </div>

    <div class="row hidden chartNotification">
      <div class="col s12">
        <div class="card orange darken-4">
          <div class="card-content white-text">
            <span class="card-title chartNotificationTitle">Msg Title</span>
              <p class="chartNotificationMsg">msg</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-content white-text no-padding parent">
      <div>
        <canvas id="myChart-{[{value._id}]}"></canvas>
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"> {[{selectedDashboard.widgets[key].chartId}]}<i class="material-icons right">close</i></span>
      <p>{[{selectedDashboard.widgets[key]}]}</p>
    </div>
  </div>
</div>
