<div id="dashboard" ng-controller="dashboard">
  <div class="section">
    <div class="row">
      <section id="chartSection" ng-show="selectedDashboard.widgets.length" ng:repeat="(key, value) in selectedDashboard.widgets">
        {% include "chart.html" %}
      </section>
    </div>
  </div>
</div>
