<!DOCTYPE html>
<html lang="en" ng-app="DataCircle">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta name="description" content="DataCircle">
    <meta name="author" content="Chris Zioutas">
    <meta name="robots" content="index,follow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>DataCircle</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/monitor.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <script src="/javascript/library/angular.min.js" type="text/javascript"></script>

</head>

<body ng-controller="mainController">
    {% include 'partials/navigation.html' %}
    {% include 'generic/flashmsg.html' %}

     {% if user %}
      {% include 'partials/emptyDash.html' %}
     {% else %}
      {% include 'partials/banner.html' %}

     {% endif %}
    <div id="LoginPanel" style="display:none;">
        {% include 'user/login.html' %}
    </div>
    <div id="RegisterPanel" style="display:none;">
        {% include 'user/register.html' %}
    </div>
    {% if user and ((user.role.access.widgetRead and user.role.access.widgetWrite) or user.role.access.admin) %}
     {% include './widget/widget.html' %}
    {% endif %}
    {% if user and ((user.role.access.datasourceRead and user.role.access.datasourceWrite) or user.role.access.admin) %}
     {% include './datasource/ds.html' %}
    {% endif %}

    <div id="TeamPanel" style="display:none;">
        {% include 'user/administration/team.html' %}
    </div>

    <div id="SettingsPanel" style="display:none;">
        {% include 'user/administration/settings.html' %}
    </div>

    {% include 'dashboard/create.html' %}

    {% if user %}
     {% include 'store.html' %}
     {% include 'dashboard.html' %}
    {% endif %}

    {% include 'generic/footer.html' %}

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascript/library/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.min.js"></script>
    <script src="/javascript/library/library.js"></script>
    <script src="/javascript/library/myChart.js"></script>
    <script src="/javascript/sizeAdjustments.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/core.js"></script>

    <script>
        var canvas = document.getElementById('myChart')
        if (canvas !== null) {
            var ctx = canvas.getContext('2d')
            var data = {
                type: 'bar',
                options: {
                    bezierCurve: true,
                    pointDot: true
                },
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May'],
                    datasets: [{
                        label: 'My First dataset',
                        backgroundColor: "rgba(54,162,235,0.2)",
                        borderColor: "rgba(54,162,235,1)",
                        borderWidth: 1,
                        hoverBackgroundColor: "rgba(54,162,235,0.4)",
                        hoverBorderColor: "rgba(54,162,235,1)",
                        data: [10, 20, 30, 40, 50]
                    }, ]
                }
            }

            var myLineChart = new Chart(ctx, data)
        }
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-76790783-1', 'auto');
        ga('send', 'pageview');
    </script>


</body>

</html>
