<a href="#" id="store" style="display:none;" data-activates="slide-out" class="button-collapse">
  <i class="mdi-navigation-menu"></i>
</a>
<section ng-controller="store">
  <ul id="slide-out" class="side-nav">
    <li>
      <div class="row" style="margin:0px; padding-top:4px; padding-bottom: 4px; padding-right: 4px;">
        <div class="col s12" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
          <h5>Store </h5>
        </div>
      </div>
    </li>

    <li class="pointer" ng:repeat="(key, value) in availableWidgets" ng-click="addWidget(value._id)">
      <div class="row" style="margin:0px; padding-top:4px; padding-bottom: 4px; padding-right: 4px;">
        <div class="col s12" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
          {[{value.name}]}
        </div>
      </div>
    </li>
  </ul>
</section>
