.hidden {
  display: none;
}
select {
  display: block;
  !important;
}
.no-margin {
  margin:0px;
  width: 100%;
  !important;
}
.no-padding {
  padding: 0px;
  !important;
}
.brand-logo {
  margin-left: 10px;
}
.full-width-nav {
  max-width: none;
  !important;
}
.navbar-inverse.navbar {
  background-color: #4285F4;
  !important;
}
.pointer {
  cursor: pointer;
}
.small {
  width: 50%;
}
.medium {
  width: 75%;
}
.medium form input {
  width: 75%;
  !important;
}
.navbarLogo {

}

.card .card-action a {
  color: black;
}
