<div class="container well">
  <h1 class="header center orange-text">Login</h1>
  <form class="col s12" name="userForm" method="post" action="/login" data-name="loginForm" enctype="application/x-www-form-urlencoded" novalidate>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="email" type="text" class="validate" name="Email" ng-model="userFormData.Email" ng-maxlength="20" ng-minlength="2" required />
        <label for="email">Email Address</label>
      </div>
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" name="Password" ng-model="userFormData.Password" ng-maxlength="20" ng-minlength="2" required />
        <label for="password">Password</label>
      </div>
      <div class="center">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
