<div class="container well">
  <h1 class="header center orange-text">Register</h1>
  <form class="col s12" name="userForm" method="post" action="/register" data-name="registerForm" enctype="application/x-www-form-urlencoded" novalidate>
    <div class="row">
      <div class="col s6">
        <div class="input-field">
          <input id="FN" type="text" class="validate" name="FN" ng-model="userFormData.FN" ng-maxlength="20" ng-minlength="2" required />
          <label for="FN">First Name</label>
        </div>
        <div class="input-field">
          <input id="LN" type="text" class="validate" name="LN" ng-model="userFormData.LN" ng-maxlength="20" ng-minlength="2" required />
          <label for="LN">Last Name</label>
        </div>
        <div class="input-field">
          <input id="Company" type="text" class="validate" name="Company" ng-model="userFormData.Company" ng-maxlength="20" ng-minlength="1" required load-company/>
          <label for="Company">Comapny</label>
        </div>
      </div>

      <div class="col s6">
        <div class="input-field">
          <input id="email" type="text" class="validate" name="Email" ng-model="userFormData.Email" ng-maxlength="20" ng-minlength="2" required />
          <label for="email">Email address</label>
        </div>
        <div class="input-field">
          <input id="password" type="password" class="validate" name="Password" ng-model="userFormData.Password" ng-maxlength="20" ng-minlength="2" required />
          <label for="password">Password</label>
        </div>
        <div class="input-field">
          <input id="repassword" type="password" class="validate" name="RePassword" ng-model="userFormData.RePassword" ng-maxlength="20" ng-minlength="2" required />
          <label for="repassword">Retype Password</label>
        </div>
      </div>

      <input id="registerHash" type="text" name="Hash" ng-model="userFormData.Hash" load-register-hash style="display:none;"/>

      <div class="center">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
