{% if user %}
  <form class="well bs-component container section no-pad-bot">
    <div class="col s12">
      <div class="row" ng-show="availableRoles">
        <div class="col s6">
          <select id="drpdEditRole" class="form-control" name="dataSource" ng-model="roleFormData._id" required>
            <option ng:repeat="(key, value) in availableRoles" value="{[{value._id}]}">{[{value.name}]}</option>
          </select>
        </div>
        <div class="col s1">
          <h5> Or </h5>
        </div>
        <div class="col s3">
          <button class="btn btn-info btn-primary" id="btnDSCreate" ng-click="showCreateRole=true; roleFormData = {};">Create</button>
        </div>
      </div>
    </div>
  </form>

  <div id="role" class="well bs-component container" ng-show="roleFormData">
    <form class="form-create form-horizontal" name="createRoleForm" ng-submit="createOrUpdateRole()" required>
      <fieldset style="border:0px;">
        <div class="form-group">
          <div class="col s6">
            <div class="input-field">
              <input id="name" type="text" class="validate" name="name" ng-model="roleFormData.name" ng-maxlength="20" ng-minlength="2" required />
              <label for="name">Role Name</label>
            </div>

            {% for role in createRole %}
            <p>
              <input type="checkbox" ng-model={{"roleFormData." + role }} class="filled-in" id="filled-in-box-{{role}}"/>
              <label for="filled-in-box-{{role}}">{{role}}</label>
            </p>
            {% endfor %}
          </div>
        </div>
      </fieldset>
      <button class="btn btn-info btn-primary">Save</button>
    </form>
  </div>
{% endif %}
