<div class="col s12 well bs-component container section no-pad-bot">
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-content">
          {% include "./role.html" %}
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <h4 class="black-text"> Invite User </h4>
          <form class="user-invite form-horizontal" name="userInviteForm" ng-submit="userInvite()" novalidate required>
            <fieldset style="border:0px;">
              <div class="form-group">
                <label class="col-lg-1 control-label">Email</label>
                <div class="col-lg-11">
                  <input id="email" type="email" class="validate" name="email" ng-model="userInviteFormData.Email" required />
                </div>
                <div class="input-field col s12 m6">
                  <select id="" class="form-control" name="dataSource" ng-model="userInviteFormData.roleId" required>
                    <option ng:repeat="(key, value) in availableRoles" value="{[{value._id}]}">{[{value.name}]}</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <button class="btn btn-info btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
