<form class="well bs-component container section no-pad-bot">
  <div class="col s12">
    <div class="row" ng-show="availableWidgets">
      <div class="col s6">
        <select id="drpdEditWidget" class="form-control" name="widget" ng-model="widgetFormData._id" required>
          <option ng:repeat="(key, value) in availableWidgets" value="{[{value._id}]}">{[{value.name}]}</option>
        </select>
      </div>
      <div class="col s1">
        <h5> Or </h5>
      </div>
      <div class="col s3">
        <button class="btn btn-info btn-primary" id="btnDSCreate" ng-click="widgetFormData = {};">Create</button>
      </div>
    </div>
  </div>
</form>
