<div ng-show="selectedDataSource.type === 'mysql' || selectedDataSource.type === 'mongodb'">
  <label class="col-lg-1 control-label">Chart Type</label>
  <div class="col-lg-11">
    <select id="widget-chart-type" class="form-control" name="chartType" ng-model="widgetFormData.chartType"
    ng-required="selectedDataSource.type === 'mysql' || selectedDataSource.type === 'mongodb'">
      <option ng:repeat="(key, value) in chartTypes" value="{[{key}]}">{[{value}]}</option>
    </select>
  </div>

  <label class="col-lg-1 control-label">Query</label>
  <div class="col-lg-11">
    <textarea id="widget-query" class="materialize-textarea form-control" name="query" ng-model="widgetFormData.query"
    ng-required="selectedDataSource.type === 'mysql' || selectedDataSource.type === 'mongodb'"></textarea>
  </div>
</div>
