<div ng-show="selectedDataSource.type === 'rabbitmq'">
</br>
  <div class="col-lg-11">

    <label class="col-lg-1 control-label">Queue Name(s)</label>
    <div class="col-lg-11">
      <input type="text" class="form-control" name="names" ng-model="widgetFormData.rabbitmq.names"
       ng-required="selectedDataSource.type === 'rabbitmq'" placeholder="For multiple queues, separate them by comma"/>
    </div>

    <label class="col-lg-1 control-label">Queue Threshold(s)</label>
    <div class="col s12">
      <div class="row">
        <div class="col s12">
          <input type="text" class="form-control" name="limits" ng-model="widgetFormData.rabbitmq.limits"
           ng-required="selectedDataSource.type === 'rabbitmq'" placeholder="For multiple queues, separate them by comma"/>
        </div>
      </div>
    </div>
  </div>
</div>
