<div id="WidgetPanel" style="display:none;">
{% if user %}
  <div class="row">
    <div class="card col s6 offset-s3">
      <div class="card-content">
        <form class="well bs-component container section no-pad-bot">
          <div class="col s12">
            <div class="row" ng-show="availableWidgets">
              <div class="col s6">
                <select id="drpdEditWidget" ng-change="getDetailsForWidget()" class="form-control" name="widget" ng-model="widgetFormData._id" required>
                  <option ng:repeat="(key, value) in availableWidgets" value="{[{value._id}]}">{[{value.name}]}</option>
                </select>
              </div>
              <div class="col s1">
                <h5> Or </h5>
              </div>
              <div class="col s3">
                <button class="btn btn-info btn-primary" id="btnDSCreate" ng-click="widgetFormData = undefined;">Create</button>
              </div>
            </div>
          </div>
        </form>

        <div id="widget" class="well bs-component container">
          <form class="widget-create form-horizontal" name="widgetForm" ng-submit="updateOrCreateWidget()" novalidate required>
            <fieldset style="border:0px;">
              <div class="form-group">
                <label class="col-lg-1 control-label">Name</label>
                <div class="col-lg-11">
                  <input type="text" class="form-control" name="name" ng-model="widgetFormData.name" required/>
                </div>

                <label class="col-lg-1 control-label">Description</label>
                <div class="col-lg-11">
                  <input type="text" class="form-control" name="description" ng-model="widgetFormData.description" required/>
                </div>

                <label class="col-lg-1 control-label">DataSource</label>
                <div class="col-lg-11">
                  <select id="dataSource" ng-change="updateSelectedDataSource(widgetFormData.availableDataSource)" class="form-control" name="dataSource" ng-model="widgetFormData.availableDataSource" required>
                    <option ng:repeat="(key, value) in availableDataSources" value="{[{value._id}]}">{[{value.name}]}</option>
                  </select>
                </div>

                {% include 'widget/genericDatabase.html' %}
                {% include 'widget/rabbitmq.html' %}
                </br>

                <button class="btn btn-info btn-primary" ng-disabled="widgetForm.$invalid">Save</button>
                <input type="button" value="Delete" class="btn btn-info btn-primary right red" ng-click="deleteWidget()"
                 ng-disabled="widgetFormData === undefined || widgetFormData._id === undefined"></button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
