<!DOCTYPE html>
<html lang="en" ng-app="DataCircle">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="description" content="DataCircle">
  <meta name="author" content="Chris Zioutas">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>DataCircle</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/monitor.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h2 class="header center orange-text">Page not found.</h2>
      <div class="row center">
        <h5 class="header col s12 light">
          <img src="/images/error.png" alt="Not Found">
        </h5>
      </div>
    </div>
  </div>

  {% include "generic/footer.html" %}

  <script src="javascript/sizeAdjustments.js"></script>
</body>
