<!DOCTYPE html>
<html lang="en" ng-app="DataCircle">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="description" content="DataCircle">
  <meta name="author" content="Chris Zioutas">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>DataCircle</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/monitor.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- Angular -->
  <script type="text/javascript" src="/javascript/library/angular.min.js"></script>

</head>

<body>
{{ data }}
{% include "generic/footer.html" %}
</body>
