<div class="navbar-fixed" id="cookie-header" style="height: 25px; display:none;">
  <nav class="hide-on-med-and-down" style="height: 25px;">
    <div class="nav-wrapper" style="background-color: #29b6f6 !important;font-size: 12px; height: 25px;">
      <div class="col s12" style="line-height: 22px;">
      <b>Cookies help us deliver our services. By using our services, you agree to our use of cookies. </b>
      <a href="/privacy" target="_blank" style="text-decoration:underline;color:white"><b>Learn more</b></a> -
      <b><a class="cookie-agree pointer" style="text-decoration:underline;color:white;" onclick="$('#cookie-header').hide(); storeCookie();">Ok</a></b>
      </div>
    </div>
  </nav>
  <nav class="hide-on-large-only">
    <div style="font-size: 12px;">
      <div class="col s12" style="line-height: 22px;">
      <a href="/privacy" target="_blank" style="text-decoration:underline;color:white"><b>Learn more</b></a><b> about our cookies usage</b> -
      <b><a class="cookie-agree pointer" style="text-decoration:underline;color:white;" onclick="$('#cookie-header').hide(); storeCookie();">Ok</a></b>
      </div>
    </div>
  </nav>
</div>
