<div class="flash-msg">
  <div id="alarmPlaceholder">
  </div>

  <div class="navbar-fixed" id="alarmSuccessClone" style="height: 25px; display:none;">
    <nav class="green" style="height: 25px;">
      <div style="font-size: 12px;">
        <div class="col s12" style="line-height: 22px;">
          <i class="material-icons tiny dp48">done</i>
          <span class="sr-only">Success:</span>
          <span id="message"></span>
        </div>
      </div>
    </nav>
  </div>

  <div class="navbar-fixed" id="alarmErrorClone" style="height: 25px; display:none;">
    <nav class="red lighten-1" style="height: 25px;">
      <div style="font-size: 12px;">
        <div class="col s12" style="line-height: 22px;">
          <i class="material-icons tiny dp48">report_problem</i>
          <span class="sr-only">Error:</span>
          <span id="message"></span>
        </div>
      </div>
    </nav>
  </div>

  {% if success_messages and success_messages.length > 0%}
    <div class="navbar-fixed" id="flash-msg-success" style="height: 25px;">
      <nav class="green" style="height: 25px;">
        <div style="font-size: 12px;">
          <div class="col s12" style="line-height: 22px;">
            <i class="material-icons tiny dp48">done</i>
            <span class="sr-only">Success:</span>
            {{ success_messages }}
          </div>
        </div>
      </nav>
    </div>
    <script>
      window.setTimeout(function() {
        $('#flash-msg-success').hide(1200);
      }, 3000);
    </script>
  {% endif %}

  {% if error_messages and error_messages.length > 0%}
    <div class="navbar-fixed" id="flash-msg-error" style="height: 25px;">
      <nav class="red lighten-1" style="height: 25px;">
        <div style="font-size: 12px;">
          <div class="col s12" style="line-height: 22px;">
            <i class="material-icons tiny dp48">report_problem</i>
              <span class="sr-only">Error:</span>
              {{ error_messages }}
          </div>
        </div>
      </nav>
    </div>

    <script>
      window.setTimeout(function() {
        $('#flash-msg-error').hide(1200);
        }, 3000);
    </script>
  {% endif %}
</div>
