<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">DataCircle Bio</h5>
        <p class="grey-text text-lighten-4">
          Datacircle is an attempt to provide everyone an easy tool to visualize the content from within
          your database. No more exports to CSVs and then to Excel or other tools.
        </p>
        <p>
          The project is still in Beta.
        </p>

      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Generic</h5>
        <ul>
          <li><a class="white-text" href="mailto:chriszioutas@gmail.com?Subject=DataCircle" target="_top">Contact</a></li>
          <li><a class="white-text" target="_blank" href="/privacy">Privacy</a></li>
          <li><a class="white-text" target="_blank" href="/tou">Terms of Service</a></li>
          <li><a class="white-text" target="_blank" href="/blog">Blog</a></li>
          <li><a class="white-text" target="_blank" href="/jobs">Jobs</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://de.linkedin.com/in/czioutas">LinkedIn</a></li>
          <li><a class="white-text" target="_blank" href="https://twitter.com/drakoumel">Twitter</a></li>
          <li><a class="white-text" target="_blank" href="https://github.com/drakoumel">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" target="_blank" href="https://de.linkedin.com/in/czioutas">Chris Zioutas</a>
      <div style="float:right">
        © 2016 DataCircle. All rights reserved.
      </div>
    </div>
  </div>
</footer>
