<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h2 class="header center orange-text">Page under construction.</h2>
    <div class="row center">
      <h5 class="header col s12 light">
        <img src="/images/underconstruction.png" alt="Under Contruction">
      </h5>
    </div>
  </div>
</div>
